//Layout
$mobile: 375px;
$desktop: 1440px;

$PT: 0.8em;

//Colors

$SB: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$lineBG: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//Typography
$fs: 18px;
